@model HsrOrderApp.UI.Mvc.Models.SupplierListViewModel
@using HsrOrderApp.UI.Mvc.Resources

@{
    ViewBag.Title = Strings.SupplierDetailView_Title;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Strings.SupplierView_Title</h2>
<h4>@Strings.SupplierView_Description</h4>

@Html.Partial("_SupplierListItem", Model)